/* Google import font Poppins */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

body {
    min-height: 100vh;
    align-items: center;
    background: linear-gradient(to bottom, #dff0f1, #88afe2);
    padding: 50px 100px 0 0; /* Top, right, bottom, left */
}

h1 {
    text-align: center;
    margin-bottom: 50px; /* Add some space below the heading */
    font-weight: 800;
}

table {
    width: 100%;
    margin: 0 auto;
    border-collapse: separate; /* to handle border-radius */
    border-spacing: 0; /* Remove spacing between cells */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px; /* Rounded corners for the table */
    overflow: hidden; /* Ensures the content doesn't overflow the rounded corners */
    
}


th, td {
    border: 1px solid #ddd;
    padding: 14px;
    text-align: left;
    font-size: 1.1em; /* Slightly larger font size */
}

th {
    background-color: #007BFF; /* Use a stronger color for header */
    color: white; /* White text for better readability */
}

td {
    color: #000000; /* Darker text color for better readability */
}

th:first-child {
    border-top-left-radius: 10px; /* Round the top-left corner of the first header */
}

th:last-child {
    border-top-right-radius: 10px; /* Round the top-right corner of the last header */
}

tr:last-child td:first-child {
    border-bottom-left-radius: 10px; /* Round the bottom-left corner of the last row */
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px; /* Round the bottom-right corner of the last row */
}

.buttons {
    padding: 0px;
    display: flex;
    justify-content: center; /* Center the buttons container */
    gap: 30px; /* Add space between the buttons */
    margin-top: 50px;
}

.actionBtn, .backBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    max-width: 230px;
    width: 100%;
    border: none;
    outline: none;
    color: #007BFF;
    border-radius: 5px;
    background-color: #ffffff;
    transition: all 0.3s linear;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.actionBtn:hover, .backBtn:hover {
    transition: 1s;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

